@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');





@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


/*@media (max-width: 560px) {*/

    body .comeco {
        padding-bottom: 10px;
    }

    main .infoAppGC {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    main .infoAppGC img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .vantagens-do-app {
        background-color: var(--cor-imagens);
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        
    }

    main .vantagens-do-app h1 {
        font-family: 'Yeseva One', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.3rem;
    }

    main .vantagens-do-app h2 {
        font-family: 'Yeseva One', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
    }

    main .vantagens-do-app p {
        font-size: 1.5rem;
        font-family: 'Noto Serif' , Verdana, Geneva, Tahoma, sans-serif;
    }

    main .vantagens-do-app .material-symbols-outlined {
        color: white;
        font-size: 5rem;
        padding-top: 40px;
        padding-bottom: 5px;
    }


    main .vantagens-do-app span {
        font-weight: bold;
    }

    main .fa-solid {
        font-size: 5rem;
        color: white;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    main .como-funciona-app {
        padding-bottom: 60px;
        background-color: var(--cor-de-fundo);
    }

    
    main .como-funciona-app h1 {
       text-align: center; 
       padding-top: 100px;
       font-family: 'Yeseva One' , Verdana, Geneva, Tahoma, sans-serif;
       font-size: 2.5rem;
    }

    main .como-funciona-app h2 {
        font-family: 'Yeseva One' , Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.9rem;
    }

    main .como-funciona-app .texto-explicativo {
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1rem;
        padding: 0px 20px;
        font-weight: bold;
    }

     main .bloco-promocao {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-bottom: 50px;
    }

    main .bloco-promocao picture {
        width: 50%;
        height: 50%;
        object-fit: cover;
        display: flex;
        border-radius: 50%;
        padding-top: 40px;
    }

    main .bloco-promocao img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        background-color: navajowhite;
    }


    main .fa-down-long {
        color: var(--cor-header);
    }

    main .texto-informativo {
        
        text-align: center;
    }

    main .botao-do-aplicativo {
        display: flex;
        justify-content: center;
        height: 100px;
        color: var(--cor-de-fundo);
        align-items: center;
        width: 100%;
    }

    main .para-baixar {
        background-color: var(--cor-botoes);
        padding: 20px 50px 20px 50px;
        border-radius: 10px;
        font-family: 'Bevan' , Verdana, Geneva, Tahoma, sans-serif;
    }

    main .so-no-app-gc {
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 530px;
    }

    main .so-no-app-gc h1 {
        display: flex;
        justify-content: center;
        font-family: 'Yeseva One' , Verdana, Geneva, Tahoma, sans-serif;
        
    }

    main .so-no-app-gc .os-melhores {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding-bottom: 40px;
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
         
    }

    main .opcoes-de-lanche {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 20px;
        height: auto;
        width: 5100px;
        height: 250px;
    }

    main .opcoes-de-lanche a {
        margin-left: 10px;
        height: 100%;
        width: 250px;
        border: 1px solid pink;
        border-radius: 10px;
    }

    main .opcoes-de-lanche picture {
        height: 65%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: pink;
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
    }
    

    main .opcoes-de-lanche div {
        height: 35%;
        width: 100%;
        display: grid;
        grid-template: 1fr / 60% 40%;
        place-items: center;
        padding-left: 10px;
    }

    main .opcoes-de-lanche img {
        width: 160px;
        height: auto;
    }

    /*

}


@media (min-width: 561px) and (max-width: 765px) {

}

@media (min-width: 766px) and (max-width: 1030px) {

}

@media (min-width: 1031px) {

}