@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}


@media (max-width: 560px) {
    /* SEÇÃO HEADER */
    body .comeco {
        background-color: var(--cor-de-fundo);
        padding-top: 70px;
        font-size: 1.3rem;
        font-family:'Bevan', Verdana, Geneva, Tahoma, sans-serif;
    }

    header .botao-voltar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    header .tela-navegar {
        display: none;
    }

    header .voltar:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    header .voltar {
        padding-left: 8px;
    }

    main .lanches-opcoes {
        position: relative;
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }

    main .cardapio-carrosel {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .cardapio-carrosel img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
        width: 100%;
        background-color: rgb(92, 9, 9);
    }

    main .cardapio-carrosel picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

   
    main #lanches-menu {
        font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        
    }

    main .bloco-lanche {
        display: grid;
        grid-template: auto / 1fr 1fr;
        width: 100%;
        height: 300px;
        
    }

    main .refeicao-cardapio1, main .refeicao-cardapio2 {
        padding-left: 10px;
        padding-right: 10px;
        height: 300px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    main .refeicao-cardapio1 a, main .refeicao-cardapio2 a{
        width: 100%;
        height: 100%;
        border: 5px solid #F2E5D4;
        border-radius: 10px;
        
    }

    main .refeicao-cardapio1 {
        grid-area: 1 / 1 / 2 / 2;
        
    }

    main .refeicao-cardapio2 {
        grid-area: 1 / 2 / 2 / 3;
        
    }

    main .imagem-lanche {
        height: 250px;
        width: 80%;
        display: grid;
        grid-template: 3fr 1fr / 1fr;
        background-color: var(--cor-de-fundo);
       
    }

    main .foto-lanches {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        grid-area: 1 / 1 / 2 / 2;
        border: 2px solid #F2E5D4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    main .foto-lanches img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    main .nome-do-produto {
        border-radius: 2px solid #F2E5D4;
        display: grid;
        grid-area: 2 / 1 / 3 / 2;
        height: 20px;
        width: 100%;
        font-family: 'Bevan', Verdana, Geneva, Tahoma, sans-serif;
        justify-content: center;
        padding-bottom: 30px;
    }

    
    
    main .lanches-nomes , main #cardapio {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 1.5rem;
        padding-left: 5px;
    }

    #clique1, #clique2, #clique3, #clique4, #clique5, #clique6 {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: 'Bevan' ,Verdana, Geneva, Tahoma, sans-serif;
    }

    main #tabela {
        background-color: #F4EBDA;
        width: 100%;
        height: 10%;
    }
    
     footer {
        background-color: var(--cor-botoes);
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        flex-flow: column nowrap;
        color: var(--cor-de-fundo);
        font-weight: bold;
    }

    footer .logo-oficial {
        width: 200px;
        height: auto;
        margin-top: 20px;
    }

    footer .navegacao-principal {
        margin-bottom: 10px;
   }

   footer .navegacao-principal li {
        margin-bottom: 5px;
   }

   footer .navegacao-principal a {
        font-family: 'Passion One', Verdana, Geneva, Tahoma, sans-serif;
        list-style: none;
   }

    footer a {
        color: var(--cor-de-fundo);
        text-decoration: none;
        font-size: 1.4rem; 
    }

    footer a:hover {
        text-decoration: underline;
    }

     footer ul {
        
        text-align: center;
        list-style: none;
    }
   
    footer img {
        display: flex;
        justify-content: center;
    }
    
    

    footer .links-legais {
       margin-bottom: 20px;
   }

   footer .links-legais a {
        font-size: 1rem;
   }
   
    
   footer hr {
        background-color: var(--cor-de-fundo);
        height: 1px;
        width: 90vw;
   }


   footer .compartilhar {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   footer .icones {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        gap: 30px;
   }

   footer i {
        border: 5px solid var(--cor-de-fundo);
        background-color: var(--cor-de-fundo);
        border-radius: 4px;
   }

   footer .fa-instagram {
        padding: 1px;
        color: #B0338D;
   }

   footer .fa-x-twitter {
        padding: 1px;
        color: #000000;
   }

   footer .fa-facebook-f {
        padding: 1px 3px;
        color: #0036BA;
   }

   footer .licenca {
        width: 80vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        margin-bottom: 90px;
        text-align: center;
        font-weight: normal;
   }

   body .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #F5EBDC;
        z-index: 1000;
        background-color: var(--cor-de-fundo);
        font-family: 'Bevan' , Verdana, Geneva, Tahoma, sans-serif;
   }

   body a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
   }

   body .bottom-nav a {
        text-decoration: none;
        color: #9E8172;
        font-size: 0.9rem;
        
   }

   body .bottom-nav i {
        font-size: 1.5rem;
   }

}

@media (min-width: 561px) and (max-width: 765px) {

}

@media (min-width: 766px) and (max-width: 1030) {

}

@media (min-width: 1031px) {

}