


@media (max-width: 765px) {
    
    body .comeco {
        padding-bottom: 10px;
        width: 100%;
    }

    main .tela-navegar {
        display: none;
    }

    main .vantagens_e_beneficios {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
    }

    main .titulo_vantagens {
        margin-top: 100px;
        margin-bottom: 50px;
        font-family: 'Yeseva One', Verdana, Geneva, Tahoma, sans-serif;
    }

    main .bloco_de_vantagens {
        margin-right: 20px;
        margin-left: 20px;
        height: 450px;
        background-color: var(--cor-de-fundo);
        margin-bottom: 50px;
        border-radius: 10px;
    }

    main .bloco_de_vantagens img {
        width: auto;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    main .bloco_de_vantagens h2 {
        margin-right: 30px;
        margin-left: 30px;
        font-family: 'Yeseva One', Verdana, Geneva, Tahoma, sans-serif;
    }

    main .bloco_de_vantagens p {
        margin-top: 30px;
        
        margin-right: 30px;
        margin-left: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        
    }

    main .como_funciona_clube {
        width: 100%;
        background-color: var(--cor-poster);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main .como_funciona_clube img {
        width: auto;
        height: 200px;
    }

    main .primeiro_bloco_info, main .segundo_bloco_info {
        width: 100%;
        height: auto;
        
    }

    main .blocos_de_informacao img {
        transform: translateY(-100px);
    }

    main .blocos_de_informacao {
        background-color: var(--cor-de-fundo);
        margin-top: 150px;
        margin-right: 30px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }

    main #num_1 {
       font-size: 2.5rem;
       color: black;
       transform: translateY(-180px); 
       border-radius: 2px solid orange;
       background-color: orange;
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    main #counter1, main #counter2, main #counter3, main #counter4{
        font-size: 3rem;
        transform: translateY(-150px); 
        display: grid;
        grid-template: 40px / 40px;
        background-color: orange;
    }
}

@media (min-width: 766px) and (max-width: 1350px) {

}

@media (min-width: 1351px) {

}

