@charset "UTF-8";

@media (max-width: 640px) {

    header {
        background-color: var(--texto-inverso);
        display: grid;
        grid-template: 1fr / 1fr 2fr 1fr;
        align-items: center;
        
    }

    .opcoes span.material-symbols-outlined {
        font-size: 40px;   /* aumenta o tamanho do ícone */
        cursor: pointer;   /* deixa com aparência de botão clicável */
        padding: 10px;     /* aumenta a área de clique */
    }

    

    .logo-fundo-laranja, .logo2, .navegacao {
        display: none;
    }

    .opcoes {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--cor-neutra);
    }
    
    .logo-rosto {
        width: 70px;
        height: auto;
    }

    .logo-gran-chef {
        display: block;
        width: 160px;
        height: auto;
        margin: 0 auto;
    }

    .icones-a-direita {
        font-size: 40px;
        cursor: pointer;
        color: var(--cor-neutra);
        align-items: center;
    }

    .lanches {
        aspect-ratio: 2/3;
    }

    .secao-sobremesas {
        margin: 20px;
    }

    .lanches, .sobremesas {
        position: relative;
        width: 100%;
    
        overflow: hidden;
    }

    .sobremesas {
        aspect-ratio: 1/1;
        box-sizing: border-box;
    }

    .lanches img, .sobremesas img{
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: left 0.5s ease;
        
    }

    .seta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 30px;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 50%;
        transition: background 0.3s;
        line-height: 1;
    }

    .seta:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    .seta-esquerda {
        left: 15px;
    }

    .seta-direita {
        right: 15px;
    }

    .dots {
        position: absolute;
        bottom: 10px;  /* ajuste esse valor para subir ou descer as bolinhas */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10;
        margin-top: 0; /* anula qualquer margem anterior */
    }

    .dot {
        width: 12px;
        height: 12px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .dot.active {
        background-color: #f97316; /* cor de destaque */
    }

    .doces {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        
    }

    .Bloco-Aplicativo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background-color: var(--destaque-inverso);
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }

    .Bloco-Celular {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    

    .celular {
        width: 100px;
        height: auto;
        transform: scale(2.7);
    }

    .Bloco-Mensagem p {
        max-width: 80%;
        color: white;
    }

    .logo-apple {
        width: 30px;
        height: auto;
        transform: scale(3);
    }

    .logo-google {
        width: 30px;
        height: auto;
        transform: scale(3);
    }

    .AppsParaBaixar {
        font-size: 10px;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .AppApple, .AppGoogle {
        font-size: 2vw;
        color: white;
    }

    .Bloco-Mensagem span.AppApple, .Bloco-Mensagem span.AppGoogle {
        display: inline-block;
        vertical-align: middle;
        color: white;
        background-color: black;
    }

    
    .Bloco-Mensagem {
        font-size: 5vw;
        background-color: blue;
    }
    

}
