@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');


@media (max-width: 560px) {

    header {
        background-color: var(--cor-header);
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        align-items: center;
    }

    header .icones-a-direita .material-symbols-outlined {
        font-size: 26px;   /* aumenta o tamanho do ícone */
        cursor: pointer;   /* deixa com aparência de botão clicável */
        background-color: var(--cor-header);
    }


    header .navegacao {
        display: none;
    }


    .logo-rosto > a {
        display: flex;
        flex-flow: row wrap;
    }
    
    .logo-rosto {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .logo-rosto img {
        width: 70px;
        height: auto;
    }

    .logo-nome {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }

    .logo-nome img {
        width: 160px;
        height: auto;
    }

    .icones-a-direita {
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        cursor: pointer;
        color: var(--cor-de-fundo);
        align-items: center;
        gap: 20px;
    }

    .lanches {
        aspect-ratio: 2/3;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .Ver-Mais-Salgados {
        position: absolute;
        color: var(--cor-de-fundo);
        background-color: var(--cor-botoes);
        bottom: 23px;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        height: 40px;
        align-items: center;
        text-align: center;
        align-content: center;
        font-family: 'Passion One', cursive;
        border-radius: 10px;
    }


    .sobremesas {
        position: relative;
        width: 100%;
        overflow: hidden;
        
    }

    .secao-sobremesas {
        padding: 20px;
        box-sizing: border-box;
    }

    .secao-sobremesas .sobremesas {
        aspect-ratio: 1/1;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
    }

    .Ver-Mais-Sobremesas {
        display: flex;
        height: 50px;
        background-color: var(--cor-botoes);
        margin: 20px;
        color: var(--cor-de-fundo);
        align-items: center;
        justify-content: center;
        font-family: 'Passion One', cursive;
    }

    a {
        text-decoration: none;
    }

    .lanches img, .sobremesas img{
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: left 0.5s ease;
        
    }

    .AppTexto {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .seta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        background: rgba(0, 0, 0, 0.5);
        color: var(--cor-de-fundo);
        border: none;
        font-size: 30px;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 50%;
        transition: background 0.3s;
        line-height: 1;
    }

    .seta:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    .seta-esquerda {
        left: 15px;
    }

    .seta-direita {
        right: 15px;
    }

    .dots {
        position: absolute;
        bottom: 10px;  /* ajuste esse valor para subir ou descer as bolinhas */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10;
        margin-top: 0; /* anula qualquer margem anterior */
    }

    

    .dot {
        width: 12px;
        height: 12px;
        background-color: var(--cor-de-fundo);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 2px solid var(--cor-escura);
    }

    .dot.active {
        background-color: var(--cor-escura); /* cor de destaque */
    }

    .doces {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        
    }

    .Bloco-Aplicativo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: var(--cor-header);
        height: 426px;
        overflow-x: hidden;
    }

    .Bloco-Celular {
        display: flex;
        
        justify-content: center;
        align-items: center;
        
    }

    .celular {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        
        height: auto;
        
    }

    .Bloco-Mensagem {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding-bottom: 50px;
        height: 425px;
    }

    .Bloco-Mensagem > p {
        color: var(--cor-de-fundo);
        font-family: 'Changa One', serif;
        width: 95%;
        font-size: 2.0rem;
        text-decoration: none;
    }

    .Bloco-Mensagem img {
        transform: scale(3);
    }

    .Bloco-Mensagem .logo-google {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50px;
        height: auto;
    }

    .Bloco-Mensagem .logo-apple {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 40px;
        height: auto;
    }

    .AppApple, .AppGoogle {
        font-size: 2vw;
        color: var(--cor-de-fundo);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 6px;
        background-color: var(--cor-escura);
        text-align: center;
        height: 50px;
        border: 1px solid var(--cor-de-fundo);
        border-radius: 10px;
        text-decoration: none;
    }

    .link-aplicacoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .logo-app-dentro {
        display: grid;
        grid-template: 1fr;
        text-align: center;
        justify-content: center;
        align-content: center;
        
    }

    .texto-de-cima {
        font-size: 0.9rem;
    }

    .AppApple {
        width: 152px;
    }

    .AppGoogle {
        width: 182px;
    }

    
    footer {
        background-color: var(--cor-botoes);
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        flex-flow: column nowrap;
        color: var(--cor-de-fundo);
    }

    footer a:hover {
        text-decoration: underline;
    }
   
    footer img {
        display: flex;
        justify-content: center;
    }
    
    footer > .logo-oficial {
        width: 200px;
        height: auto;
        margin-top: 20px;
    }

    footer > nav > ul, li > a {
        text-align: center;
        color: var(--cor-de-fundo);
        text-decoration: none;
        font-size: 1.4rem;
        list-style: none;
    }
    
   footer hr {
        background-color: var(--cor-de-fundo);
        height: 1px;
        width: 90vw;
   }

   footer .navegacao-principal > li > a {
        font-family: 'Passion One', cursive;
        list-style: none;
   }

   .links-legais {
       margin-bottom: 20px;
   }

   footer .links-legais > li > a {
        font-size: 1rem;
   }

   footer .compartilhar {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   footer .icones {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        gap: 30px;
   }

   footer .icones i {
        border: 5px solid var(--cor-de-fundo);
        background-color: var(--cor-de-fundo);
        border-radius: 4px;
   }

   .fa-instagram {
        padding: 1px;
        color: #B0338D;
   }

   .fa-x-twitter {
        padding: 1px;
        color: #000000;
   }

   .fa-facebook-f {
        padding: 1px 3px;
        color: #0036BA;
   }

   .licenca {
        width: 80vw;
        font-family: sans-serif;
        font-size: 1.2rem;
        margin-bottom: 90px;
        text-align: center;
   }

   .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #F5EBDC;
        z-index: 1000;
        background-color: var(--cor-de-fundo);
        font-family: 'Passion One', Times, serif;
   }

   .bottom-nav > span > a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
   }

   .bottom-nav a {
        text-decoration: none;
        color: #9E8172;
        font-size: 0.8rem;
        font-weight: bold;
   }

   .bottom-nav i {
        font-size: 1.5rem;
   }

}
