@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');



body .header_menu {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--cor-poster);
    padding-top: 20px;
    padding-bottom: 20px;
}

main .trecho_navegacao {
    background-color: var(--cor-poster);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    text-align: left;
}

main .teste_menu {
    display: flex;
    
}

main .trecho_navegacao ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

main .trecho_navegacao a {
    
}


body #login_img {
    color: var(--cor-poster);
    background-color: white;
    margin-right: 20px;
    font-size: 3rem;
    border-radius: 50%;
}

body #testando1, body #testando2 {
    color: white;
    
    margin-right: 20px;
    font-size: 3rem;
}

main #delivery_option {
    display: flex;
    flex-direction: column;
    
}

.teste_menu a {
    display: block;
}


.teste_menu summary {
    cursor: pointer;
    list-style: none;
}