@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');



header .header_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .trecho_navegacao {
    display: flex;
    justify-content: flex-start;
    background-color: var(--cor-header);
}