@charset "UTF-8";

/* 
  Variáveis para cores:
  --cor-logo #F5E600
  --cor-da-marca #FCC600
  --cor-header #EB9401
  --cor-imagem #E06100
  --cor-poster1 #BD2600
  --cor-poster2 #9C0015
  --cor-neutra #F5EBDC;
*/

:root {
  
  --cor-header: #EB9401;
  --cor-imagens: #E06100;
  --cor-poster: #ff1e00;
  --cor-botoes: #9C0015;
  --cor-de-fundo: #F5EBDC;
  --cor-escura: #000000;
  
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}


