@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}


@media (max-width: 560px) {
    /* SEÇÃO HEADER */
    body .comeco {
        background-color: var(--cor-de-fundo);
        padding-top: 70px;
        font-size: 1.3rem;
        font-family:'Bevan', Verdana, Geneva, Tahoma, sans-serif;
    }

    header .botao-voltar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    header .tela-navegar {
        display: none;
    }

    header .voltar:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    header .voltar {
        padding-left: 8px;
    }

    main .lanches-opcoes {
        position: relative;
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }

    main .cardapio-carrosel {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .cardapio-carrosel img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
        width: 100%;
        background-color: var(--cor-poster);
    }

    main .cardapio-carrosel picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

   
    main #lanches-menu {
        font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main .lanches-nomes {
        font-family: 'Merirweather' ,Verdana, Geneva, Tahoma, sans-serif;
    }

    main 
    

}

@media (min-width: 561px) and (max-width: 765px) {

}

@media (min-width: 766px) and (max-width: 1030) {

}

@media (min-width: 1031px) {

}