@charset "UTF-8";

@media (max-width: 560px) {
    /* SEÇÃO HEADER */
    body .comeco {
        background-color: var(--cor-de-fundo);
        padding-top: 70px;
        font-size: 1.3rem;
        font-family:'Bevan', Verdana, Geneva, Tahoma, sans-serif
    }

    header .botao-voltar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    header .tela-navegar {
        display: none;
    }

    header .voltar:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    header .voltar {
        padding-left: 8px;
    }
}

@media (min-width: ) and (max-width: ) {

}

@media (min-width: ) and (max-width: ) {

}